<aside class="sidebar">
  {{!-- Tag Cloud --}}
  <div class="sidebar__section mobile" id="tag-cloud-min" style="display: block">
    <h5 class="sidebar__title">Наши темы</h5>
    {{#get "tags" limit="7" order="count.posts desc"}}
    {{#foreach tags}}
    <div class="tag">
      <a class="tag-{{slug}} post-card__tag" href="{{url}}" title="{{name}}" aria-label="{{name}}s">{{name}}</a>
    </div>
    {{/foreach}}
    {{/get}}
    <div class="sidebar__allTags" id="show-all-tags">Все темы</div>
  </div>

  {{!-- Tag Cloud All --}}
  <div class="sidebar__section mobile" id="tag-cloud-all" style="display: none;">
    <h5 class="sidebar__title">Наши темы</h5>
    {{#get "tags" limit="all" order="count.posts desc"}}
    {{#foreach tags}}
    <div class="tag">
      <a class="tag-{{slug}} post-card__tag" href="{{url}}" title="{{name}}" aria-label="{{name}}s">{{name}}</a>
    </div>
    {{/foreach}}
    {{/get}}
  </div>

  {{!-- Sidebar latest posts
  {{#is "post"}}
  {{#get "posts" filter="featured:false+id:-{{id}}" limit="5" include="authors,tags" as |latest|}}
  <div class="sidebar__section">
    <h5 class="sidebar__title">{{t "Latest posts"}}</h5>
    {{> wave}}
    {{#foreach latest}}
    <article class="sidebar__story">
      <h6 class="sidebar__story-title">
        <a href="{{url}}">{{{title}}}</a>
      </h6>
      {{#if feature_image}}
      <a href="{{url}}" class="sidebar__story-image">
        <img class="lazyload" alt="{{title}}" data-src="{{img_url feature_image size=" s"}}"
          src="{{asset 'images/img-placeholder-square.jpg'}}" />
      </a>
      {{/if}}
    </article>
    {{/foreach}}
  </div>
  {{/get}}
  {{/is}} --}}

  {{!-- Applicant widget --}}
  <div class="sidebar__section" id="applicant_widget">
    <h5 class="sidebar__title" style="margin-bottom: 32px;">Найти работу
      на Зарплате.ру</h5>
    <div class="sidebar__description">
      <form id="findPosition" name="findPosition">
        <input type="text" placeholder="Должность или компания" id="position" />
        <input type="number" placeholder="Зарплата от, ₽ " id="salary" />
        <input type="submit"  class="sidebar__vacanciesAction"
          style="width: 100%; border: none; outline: none;" value="Показать вакансии" />
      </form>
    </div>
  </div>

  {{!-- Employer widget --}}
  <div class="sidebar__section" id="employer_widget" style="display: none;">
    <h5 class="sidebar__title" style="margin-bottom: 32px;">Найти сотрудника на Зарплате.ру</h5>
    <div class="sidebar__description">
      <a href="https://hrm.zarplata.ru/?utm_source=blog&utm_medium=widget" class="sidebar__vacanciesAction" onclick="ym(77659420,'reachGoal','postVacancy'); return true;"
          style="width: 100%; border: none; outline: none;"/>Разместить вакансию</a>
    </div>
  </div>

  {{!-- Social Media Links --}}
  <div class="sidebar__section">
    <h5 class="sidebar__title">Зарплата Журнал</h5>
    <div class="sidebar__description" style="margin-bottom: 18px;">Про работу и жизнь после неё</div>
    {{>social-media}}
  </div>

  {{!-- Social Media Links --}}
  <div class="sidebar__section privacy-policy">
    <div class="sidebar__description" style="margin-bottom: 0 !important">
      <a href="https://cdn.zp.ru/job/docs/Soglasie_na_obrabotku_PD_polzovateley.doc" style="color: #1480CF; text-decoration:underline">Политика конфиденциальности</a></div>
  </div>
</aside>