<!DOCTYPE html>
<html lang="{{@site.locale}}" data-color-scheme="light">

<head>
  {{!-- Meta --}}
  {{> config-meta}}

  {{!-- Preloading --}}
  {{> config-preload}}

  {{!-- Theme Configuration --}}
  {{> config-theme}}

  <!--cssential-->
  <style></style><!--/cssential-->

  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
  <link rel="icon" href="{{asset 'images/favicon.png'}}" type="image/png">
</head>

<body class="{{body_class}}">
  {{!-- Include Search View --}}
  {{> search}}

  {{!-- Include Menu --}}
  {{> mobile-menu}}

  {{!-- The blog navigation links --}}
  {{> header}}
  <div class="page">
    <aside class="desktop col-lg-20">
      {{> mobile-sidebar}}
    </aside>

    <main class="main col-lg-60">
      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}
    </main>

    <aside class="desktop col-lg-20">
      {{> b2b}}
    </aside>
  </div>
  {{!-- The footer at the very bottom --}}
  {{> footer}}

  {{!-- Ghost outputs important scripts and data with this tag --}}
  {{ghost_foot}}
</body>

</html>