{{!< default}}

<div class="container-fluid wrapper">
  <section class="section latest-post">
    {{#foreach posts to="1"}}
      <div class="row">
        <div class="col-xs {{#unless feature_image}}m-t-lg m-b-lg{{/unless}}">
          {{> post-card class="post-card--special" lazy=false }}
        </div>
      </div>
    {{/foreach}}
  </section>

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-xl-9">
      <section class="section all-posts">
        <div class="row posts">
          {{#foreach posts from="2"}}
            <div class="col-xs-12 col-md-6 post-wrap">
              {{> post-card class="col"}}
            </div>
          {{/foreach}}
        </div>
        <div class="row">
          <div class="col-xs-12 center-xs">
            <button id="load-more-posts" class="btn btn--wide btn--more btn--bordered">
              Показать больше статей
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xs col-lg-4 col-xl-3 has-sidebar">
      {{> sidebar}}
    </div>
  </div>

  {{!-- Tags --}}
  <h5 class="section__title">{{t "Explore topics"}}</h5>
  {{> wave}}
  <section class="section top-tags">
    {{#get "tags" limit="4" include="count.posts" order="count.posts desc"}}
      <div class="row">
      {{#foreach tags}}
        <div class="col-xs-12 col-sm-6 col-lg-3">
          {{> tag-card}}
        </div>
      {{/foreach}}
      </div>
    {{/get}}
  </section>
  {{#unless @member}}
    <div class="subscribe subscribe__popup" id="subscribe_popup">
      <span class="subscribe__popup-close" id="subscribe_popup-close">
        {{>icon name="x" size="lg"}}
      </span>
      <div class="subscribe__popup-content">
        <div class="subscribe__popup-content-form">
          <div>
            <h5 class="subscribe__title subscribe__popup-title">
              Главное о&nbsp;рынке труда, поиске работы и&nbsp;себя в&nbsp;профессии
            </h5>
            <p class="subscribe__descr">
              Подпишись на&nbsp;Зарплата.Журнал&nbsp;&mdash; узнавай о&nbsp;свежих материалах первым!
            </p>
          </div>
          <div class="subscribe__popup-content-form-actions">
            <form data-members-form="subscribe" class="subscribe__popup-form">
              <input data-members-email aria-labelledby="post-subscribe" type="email" placeholder="{{t "Your email address"}}" required/>
              <button 
                class="btn--brand subscribe__popup-button" 
                type="submit" 
                title="{{t "Subscribe"}}" 
                aria-label="{{t "Subscribe"}}"
                id="subscribe-button"
              >{{>icon name="send"}}</button>
              <div class="message message-success">
                <div class="message__header">
                  <div class="message__type">{{t "Success"}}</div>
                  <div class="message__close js-msg-close">{{>icon name="x" size="xs"}}</div>
                </div>
                <div class="message__content">
                  {{t "Great! Check your inbox and click the link"}}
                </div>
              </div>
              <div class="message message-error">
                <div class="message__header">
                  <div class="message__type">{{t "Error"}}</div>
                  <div class="message__close js-msg-close">{{>icon name="x" size="xs"}}</div>
                </div>
                <div class="message__content">
                  {{t "Please enter a valid email address!"}}
                </div>
              </div>
            </form>
            <div class="subscribe__popup-close-wrapper">
              <button class="subscribe__popup-close-btn" id="subscribe_popup-not-now">
                Не сейчас
              </button>
            </div>
          </div>
        </div>
        <div class="subscribe__popup-image-wrapper">
          <img src="{{asset 'images/subscribe-popup.png'}}" alt="popup-image" class="subscribe__popup-image">
        </div>
      </div>
    </div>
  {{/unless}}
  
</div>
