{{!< default}} <div class="container-fluid wrapper">
  <section class="section latest-post mobile">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {{#get "posts" filter="primary_tag:applicants" order="slug asc"}}
        {{#foreach posts to="6"}}
        <div class="swiper-slide">
          <div class="row">
            <div class="col-xs {{#unless feature_image}}m-t-lg m-b-lg{{/unless}}">
              {{> post-card class="post-card--special" lazy=false }}
              <div class="tag" style="position: absolute; top: 12px; left: 12px; z-index: 99">
                <a class="tag-applicants post-card__tag" href="/tag/applicants/" title="{{name}}"
                  aria-label="{{name}}s">Соискателям</a>
              </div>
            </div>
          </div>
        </div>
        {{/foreach}}
        {{/get}}
      </div>
    </div>
  </section>
  <section class="section latest-post desktop">
    {{#foreach posts to="1"}}
    <div class="row desktop">
      <div class="col-xs {{#unless feature_image}}m-t-lg m-b-lg{{/unless}}">
        {{> post-card class="post-card--special" lazy=false }}
      </div>
    </div>
    {{/foreach}}
  </section>

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-xl-9">
      <section class="section all-posts">
        <div class="row posts">
          {{#foreach posts from="2"}}
          <div class="col-xs-12 col-md-6 post-wrap desktop">
            {{> post-card class="col"}}
          </div>
          {{/foreach}}

          <div class="mobile">
            {{#foreach posts from="1" to="3"}}
            <div class="col-xs-12 col-md-6 post-wrap">
              {{> post-card class="col"}}
            </div>
            {{/foreach}}
          </div>
        </div>
        <section class="section latest-post mobile">
          <!-- Slider main container -->
          <div class="swiper" style="padding-bottom: 32px;">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              {{#get "posts" filter="primary_tag:employers" order="slug asc"}}
              {{#foreach posts to="6"}}
              <div class="swiper-slide">
                <div class="row">
                  <div class="col-xs {{#unless feature_image}}m-t-lg m-b-lg{{/unless}}">
                    {{> post-card class="post-card--special" lazy=false }}
                    <div class="tag" style="position: absolute; top: 12px; left: 12px; z-index: 99">
                      <a class="tag-employers post-card__tag" href="/tag/employers/" title="{{name}}"
                        aria-label="{{name}}s">Работодателям</a>
                    </div>
                  </div>
                </div>
              </div>
              {{/foreach}}
              {{/get}}
            </div>
          </div>
        </section>

        <div class="row posts">
          <div class="mobile">
            {{#foreach posts from="4" to="6"}}
            <div class="col-xs-12 col-md-6 post-wrap">
              {{> post-card class="col"}}
            </div>
            {{/foreach}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 center-xs">
            <button id="load-more-posts" class="btn btn--wide btn--more btn--primary">
              Показать больше статей
            </button>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xs col-lg-4 col-xl-3 has-sidebar">
      {{> sidebar}}
    </div>
  </div>

  <div class="subscribe subscribe__popup" id="subscribe_popup" style="display: none">
    <span class="subscribe__popup-close" id="subscribe_popup-close">
      {{>icon name="x" size="s"}}
    </span>
    <div class="subscribe__popup-content" style="background-color: #70D6FF; display: none" id="1001">
      <a href="https://www.journal.zarplata.ru/telegram-job-search/" class="subscribe__popup-link">
        <img src="{{asset 'images/sp1.svg'}}" alt="" class="subscribe__popup-image">
        <button class="subscribe__popup-button" style="color: #000; background-color: #FFE000;">
          Читать
        </button>
      </a>
    </div>

    <div class="subscribe__popup-content" style="background-color: #FFE000; display: none" id="1002">
      <a href="https://www.journal.zarplata.ru/skills-to-work-under-uncertainty/" class="subscribe__popup-link">
        <img src="{{asset 'images/sp2.svg'}}" alt="" class="subscribe__popup-image">
        <button class="subscribe__popup-button" style="background-color: #CD8CFF; color: #000">
          Читать
        </button>
      </a>
    </div>

    <div class="subscribe__popup-content" style="background-color: #57EE81; display: none" id="1003">
      <a href="https://www.journal.zarplata.ru/how-to-assess-the-manageability-of-a-job-seeker/">
        <img src="{{asset 'images/sp3.svg'}}" alt="" class="subscribe__popup-image" class="subscribe__popup-link">
        <button class="subscribe__popup-button" style="background-color: #FF84A9;">
          Читать
        </button>
      </a>
    </div>

    <div class="subscribe__popup-content" style="background-color: #FF84A9; display: none" id="1004">
      <a href="https://www.journal.zarplata.ru/how-to-pass-a-stress-interview/" class="subscribe__popup-link">
        <img src="{{asset 'images/sp4.svg'}}" alt="" class="subscribe__popup-image">
        <button class="subscribe__popup-button" style="background-color: #70D6FF;">
          Читать
        </button>
      </a>
    </div>

    <div class="subscribe__popup-content" style="background-color: #CD8CFF; display: none" id="1005">
      <a href="https://www.journal.zarplata.ru/security-check-at-the-hiring-process/" class="subscribe__popup-link">
        <img src="{{asset 'images/sp5.svg'}}" alt="" class="subscribe__popup-image">
        <button class="subscribe__popup-button" style="background-color: #FFE000;">
          Читать
        </button>
      </a>
    </div>
  </div>

  </div>