{{!< default}} {{!-- Everything inside the #post tags pulls data from the post --}} {{!--<div>
  </div>--}}

{{#post}}

    {{#primary_author}}
    {{^match name "Zarplata"}}
    <div class="author-card-post">
      {{#if profile_image}}
          <a href="/author/{{slug}}" class="author-card-link"><img class="lazyload author-profile-image" src="{{profile_image}}" alt="{{name}}"></a>
      {{/if}}
      <div class="author-card-content">
          <a href="/author/{{slug}}"><h4 class="author-card-name">{{name}}</h4></a>
          {{#if bio}}
              <p class="author-card-bio">Автор статьи</p>
          {{/if}}
      </div>
      <a href="https://t.me/ZPJournalBot?start=author_{{slug}}" class="subscribe-link">
        Подписаться
      </a>
    </div>
    {{/match}}
    {{/primary_author}}

  {{> post-hero}}
  <article class="{{post_class}} post-access-{{visibility}} has-toc">
    <div class="post-toc">
      <div class="post-toc__head js-toc-toggle">
        <h2 class="post-toc__title js-toc-ignore">О чем вы узнаете</h2>
      </div>
      <div class="post-toc__content">
        <nav class="toc js-toc" aria-label="О чем вы узнаете"></nav>
      </div>
    </div>
    <div class="post__content js-toc-content">
      {{#if access}}
      {{content}}
      {{/if}}
    </div>

    {{#if access}}
    <div class="post-width">
      {{>reactions}}

      {{!-- форма обратной связи --}}
      <div class="post__feedback-form">
        <p class="post__feedback-form-title">Поделитесь историей</p>
        <p class="post__feedback-form-desc">Про работу, собеседования, нарушения ваших трудовых прав, HR-кейсы</p>
        {{!-- <form href="https://t.me/ZP_zarplata" target="_blank"> --}}
          <button class="btn btn--boxed btn--secondary" onClick="window.open('https://t.me/ZP_zarplata');">
            Связаться с нами </button>
          {{!--
        </form> --}}
      </div>
    </div>
    {{/if}}
  </article>
  {{!-- Related posts --}}
  <div class="mobile">
    {{> related-posts mobile=true}}
  </div>
  <div class="col-xs col-lg-4 col-xl-3 has-sidebar md">
    {{> mobile-sidebar}}
  </div>


  {{!-- Related posts --}}
  <div class="desktop">

    {{> related-posts}}
  </div>
  <span id="site_url" style="visibility: hidden; height: 0px;">{{url}}</span>

  {{/post}}