{{!< default}} {{!-- Everything inside the #post tags pulls data from the post --}} {{#post}} <div
  class="container-fluid wrapper">
  {{>share-links}}
  <div class="row">

    <div class="col-xs-12 col-lg-8">
      <div>
        {{> post-hero}}
      </div>
      <article class="{{post_class}} post-access-{{visibility}} has-sidebar">
        <div class="post__content">
          {{#if access}}
          {{content}}
          {{else}}
          {{> content-cta fading=true}}
          {{/if}}
        </div>

        {{#if access}}
        <div class="post-width">
          {{>reactions}}

          {{#primary_tag}}
          {{#match name "Работодателям"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{#match name "Работа в команде"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{#match name "Руководство"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{#match name "Бизнес"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{#match name "Ищу сотрудника"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{#match name "Ответы на вопросы desktop"}}
          <a class="wrapper-banner mobile" href="https://event.zarplata.ru/cityconf?utm_source=blog&utm_medium=banner"
            onclick="ym(77659420,'reachGoal','banner-main');">

            <iframe class="res-iframe" id="sidebar-banner" src="/assets/frames/conf-banner-main/index.html"
              frameborder="0" width="100%" height="100%" scrolling="no" style="pointer-events: none;">
            </iframe>
          </a>
          {{/match}}
          {{/primary_tag}}
          {{!-- форма обратной связи --}}
          <div class="post__feedback-form">
            <p class="post__feedback-form-title">Поделитесь историей</p>
            <p class="post__feedback-form-desc">про работу, собеседования, нарушения ваших трудовых прав, HR-кейсы</p>
            <a href="https://t.me/ZP_zarplata" class="post__feedback-form-link" target="_blank">
              Связаться с нами
            </a>
          </div>
          {{!-- {{#unless @member}} --}}
          {{!-- кнопки для соискателей и работодателей с переходом на сайт --}}
          {{!-- <div class="">
            {{#primary_tag}}
            {{#match name "=" "Работодателям"}}
            <button class="btn--brand">
              <a href="https://zarplata.ru/employer" target="_blank">Разместить вакансию</a>
            </button>
            {{/match}}
            {{#match name "=" "Соискателям"}}
            <button class="btn--brand">
              <a href="https://zarplata.ru" target="_blank">Создать резюме</a>
            </button>
            {{/match}}
            {{/primary_tag}}
          </div> --}}
          {{!-- {{/unless}} --}}
        </div>
        {{/if}}
      </article>
    </div>
    {{!-- Related posts --}}
    <div class="mobile">
      {{> related-posts mobile=true}}
    </div>
    <div class="col-xs col-lg-4 col-xl-3 has-sidebar md">
      {{> mobile-sidebar}}
    </div>

    <div class="col-xs-12 col-lg-4 col-xl-4 has-sidebar">
      {{> sidebar}}
    </div>
  </div>
  </div>

  {{!-- Related posts --}}
  <div class="desktop">

    {{> related-posts}}
  </div>
  <span id="site_url" style="visibility: hidden; height: 0px;">{{url}}</span>

  {{/post}}