{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container-fluid wrapper">
  {{!-- Post Breadcrumbs --}}
 <ul class="breadcrumbs" itemtype="https://schema.org/BreadcrumbList">
      <li 
        class="breadcrumb-item" 
        itemprop="itemListElement" itemscope
        itemtype="https://schema.org/ListItem"
      >
        <a itemprop="item" href="{{@site.url}}"><span itemprop="name">Блог</span></a>
        <meta itemprop="position" content="1"/>
      </li>
      {{#primary_tag}}
        <li 
          class="breadcrumb-item"
          itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a itemprop="item" href="{{url}}"><span itemprop="name">{{name}}</span></a>
          <meta itemprop="position" content="2"/>  
        </li>
      {{/primary_tag}}
      <li 
          class="breadcrumb-item breadcrumb-item-current"
          itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem"
      >
        <div itemprop="name">{{title}}</div>
        <meta itemprop="position" content="3"/>  
      </li>
    </ul>
  <div class="row">
    <div class="col-xs-12">
      {{> post-hero}}
    </div>
    <div class="col-xs-12 col-lg-8 col-xl-9">
      <article class="{{post_class}} post-access-{{visibility}} has-sidebar">
        <div class="post__content">
          {{#if access}}
            {{content}}
          {{else}}
            {{> content-cta fading=true}}
          {{/if}}
        </div>

        {{#if access}}
          <div class="post-width">
            {{#unless @member}}
              {{!-- кнопки для соискателей и работодателей с переходом на сайт --}}
                <div class="">
                  {{#primary_tag}}
                      {{#match name "=" "Работодателям"}}
                      <button class="btn--brand">
                        <a href="https://hr.zarplata.ru" target="_blank">Разместить вакансию</a>
                        </button>
                      {{/match}}
                      {{#match name "=" "Соискателям"}}
                      <button class="btn--brand">
                        <a href="https://zarplata.ru" target="_blank">Создать резюме</a>
                        </button>
                      {{/match}}
                  {{/primary_tag}}
                </div>
            {{/unless}}
            <hr>
              {{!-- Include Comments, Cove or Disqus --}}
              {{> remark_comments}}
            <hr class="m-t m-b-lg">
          </div>
          {{#unless @member}}
            {{> subscribe}}
            <hr>
          {{/unless}}
        {{/if}}
      </article>
    </div>
    <div class="col-xs-12 col-lg-4 col-xl-3 has-sidebar">
      {{> sidebar}}
    </div>
  </div>
  {{#unless @member}}
    <div class="subscribe subscribe__popup" id="subscribe_popup">
      <span class="subscribe__popup-close" id="subscribe_popup-close">
        {{>icon name="x" size="lg"}}
      </span>
      <div class="subscribe__popup-content">
        <div class="subscribe__popup-content-form">
          <div>
            <h5 class="subscribe__title subscribe__popup-title">
              Главное о&nbsp;рынке труда, поиске работы и&nbsp;себя в&nbsp;профессии
            </h5>
            <p class="subscribe__descr">
              Подпишись на&nbsp;Зарплата.Журнал&nbsp;&mdash; узнавай о&nbsp;свежих материалах первым!
            </p>
          </div>
          <div class="subscribe__popup-content-form-actions">
            <form data-members-form="subscribe" class="subscribe__popup-form">
              <input data-members-email aria-labelledby="post-subscribe" type="email" placeholder="{{t "Your email address"}}" required/>
              <button 
                class="btn--brand subscribe__popup-button" 
                type="submit" 
                title="{{t "Subscribe"}}" 
                aria-label="{{t "Subscribe"}}"
                id="subscribe-button"
              >{{>icon name="send"}}</button>
              <div class="message message-success">
                <div class="message__header">
                  <div class="message__type">{{t "Success"}}</div>
                  <div class="message__close js-msg-close">{{>icon name="x" size="xs"}}</div>
                </div>
                <div class="message__content">
                  {{t "Great! Check your inbox and click the link"}}
                </div>
              </div>
              <div class="message message-error">
                <div class="message__header">
                  <div class="message__type">{{t "Error"}}</div>
                  <div class="message__close js-msg-close">{{>icon name="x" size="xs"}}</div>
                </div>
                <div class="message__content">
                  {{t "Please enter a valid email address!"}}
                </div>
              </div>
            </form>
            <div class="subscribe__popup-close-wrapper">
              <button class="subscribe__popup-close-btn" id="subscribe_popup-not-now">
                Не сейчас
              </button>
            </div>
          </div>
        </div>
        <div class="subscribe__popup-image-wrapper">
          <img src="{{asset 'images/subscribe-popup2.png'}}" alt="popup-image" class="subscribe__popup-image">
        </div>
      </div>
    </div>
  {{/unless}}
</div>

{{!-- Related posts --}}
{{> related-posts}}
{{/post}}
